{{!--
If the template in question has a background image, then we render responsive image styles
for it, and apply those styles to the <header> tag.
--}}

{{#if background}}
  {{#contentFor "herobackground"}}
  <style>
    .m-posthero__picture {
      background-image: url({{img_url background size='xl'}});
    }

    @media(max-width: 1000px) {
      .m-posthero__picture {
        background-image: url({{img_url background size='l'}});
      }
    }

    @media(max-width: 600px) {
      .m-posthero__picture {
        background-image: url({{img_url background size='m'}});
      }
    }
  </style>
  {{/contentFor}}

  <header class="m-posthero with-picture" data-aos="fade">
    {{#is "post"}}
      <div class="m-posthero__picture in-post"></div>
    {{else}}
      <div class="m-posthero__picture"></div>
    {{/is}}
{{else}}
  <header class="m-posthero" data-aos="fade">
{{/if}}
