{{!--
This template is used for the index page.
It can be used also as the home page or the default page.
--}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}
{{> header }}
<div class="main-wrap">
  <main>
    <div class="l-content">
      <div class="l-wrapper">
        <div class="l-grid centered">
          <header class="m-intnav-container">
            <div class="m-intnav-title">
              <h1>{{t "about us"}}</h1>
            </div>
            <nav role='navigation' class="m-intnav-main" id="main-nav">
              <ul id="main-nav-list">
                <li>
                  <a href="/about/us">
                    <div>
                      <p>{{t "About us"}}</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/about/contact">
                    <div>
                      <p>{{t "Contact"}}</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/about/partners">
                    <div>
                      <p>{{t "Partners and Sponsors"}}</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/about/community">
                    <div>
                      <p>{{t "Guidelines"}}</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/about/team">
                    <div>
                      <p>{{t "Team"}}</p>
                    </div>
                  </a>
                </li>
              </ul>
            </nav>
          </header>
          </div>

          <article>
            <div class="l-content">
              <div class="l-wrapper in-post" data-aos="fade-up" data-aos-delay="300">
                <div class="l-post-content">
                  <div class="pos-relative js-post-content">

                  {{#page}}
                    {{content}}
                  {{/page}}

                  </div>
                </div>
              </div>
            </div>
          </article>
  </main>
</div>
